table {
    width: 100%;
  }
.mat-form-field{
    font-size: 14px;;
    width: 90%;
    margin-right: 10px;
}

.btnEdit, .btnDelete{
    cursor: pointer;
}

.btnEdit{
    color: #1257BC;
}

.btnDelete{
    color: #B93C21;
}